<!--The content below is only a placeholder and can be replaced.-->
<div class="center-content">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="center-content">
  <img src="assets/images/super.jpg" alt="image superhero">

  <br>
  <br>
  <p style="text-align:right">Moisés Alcocer, Octubre 2018</p>
</div>


