/* global styles for the app */

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 5% 15%;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2,
h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body,
input[text],
button {
    color: #888;
    font-family: Cambria, Georgia;
}

.center-content {
    text-align: center;
}
